@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
}
.contain{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
.Name {
  font-size: 28px;
  color: #feb1d6;
  text-decoration: none;
  font-weight: 700;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 12px;
  position: relative;

}
nav ul li a i{
  margin-right: 10px;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: rgb(255, 185, 179);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text{
  color: #FFFFFF;
  margin-top: 20%;
  font-size: 25px;
  text-decoration: none;
  
}
.header-text h2{
  font-size: 30px;
  margin-top: 20px;
}
.header-text p span{
  color: #feb1d6;
}

/*-------------------รวมเกรียรติบัตรแข่ง---------------------*/
#Cherificate{
  padding: 80px 0;
}
.containtoo{
  padding: 10px 10%;
}
.containtoo h2{
  color: #ffffff;
  font-size: 40px;
  margin-top: 20px;
}
.containtoo .intro{
  color: #ffffff;
}
.accordion {
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 30px;
}

.active, .accordion:hover {
  background-color: rgb(255, 163, 163);
}

.accordion:after {
  content: "\2193";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2191";
}

.panel {
  padding: 0 18px;
  background-color: rgb(255, 163, 163);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.Slovefor2morow{
  width: 50%;
  align-items: center;
  margin-top: 20px;
}
.panel p{
  margin-top: 20px;
}
.panel span{
  color: rgb(2, 0, 142);
}
.panel span.some1{
  color: rgb(255, 230, 176);
}
.panel span.extra1{
  color: rgb(255, 255, 255);
}
.panel span.extra2{
  color: rgb(255, 255, 255);
}
.panel span.extra3{
  color: rgb(255, 0, 170);
}
.panel span.extra4{
  color: rgb(255, 64, 0);
}
.panel span.extra5{
  color: rgb(228, 227, 255);
}
.panel span.extra6{
  color: hsl(168, 40%, 88%);
}
.panel span.extra7{
  color: rgb(143, 117, 148);
}
.panel span.extra8{
  color: rgb(65, 74, 0);
}

#houseiconnic3{
  text-decoration: none;
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 25px;
  transition: transform 0.5s;
}
#houseiconnic3:hover{
  color: #FBCAE0;
  transform: translateY(-5px);
}
/*-------------------รวมเกรียรติบัตรจากค่าย---------------------*/
#Camp{
  padding: 80px 0;
}
.containtree{
  padding: 10px 10%;
}
.containtree h2{
  color: #ffffff;
  font-size: 40px;
  margin-top: 20px;
}
.containtree .intro{
  color: #ffffff;
}

/*-------------------รวมเกรียรติบัตรจากค่าย---------------------*/
#Learning{
  padding: 80px 0;
}
.containtree{
  padding: 10px 10%;
}
.containtree h2{
  color: #ffffff;
  font-size: 40px;
  margin-top: 20px;
}
.containtree .intro{
  color: #ffffff;
}
.Sloveformorow{
  width: 40%;
  margin-top: 20px;
}
.Sloveformoro{
  width: 30%;
  margin-top: 20px;
}
.Slovefor{
  width: 20%;
}
/*--------------------small screens--------------------------*/
nav .bx{
  color: whitesmoke;
  display: none;
}
@media only screen and (max-width: 680px){
  .header-text{
    margin-top: 60%;
    font-size: 15px;
  }
  .header-text h2{
    font-size: 25px;
  }
  nav .bx{
    display: block;
    font-size: 25px;
  }
  nav ul{
    background: #1ecdf487;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
  }
  nav ul .bx{
    position: absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;
  }
  .subtitle{
    font-size: 40px;
  }
  .about-zone-1, .about-zone-2{
    flex-basis: 87%;
  }
  .about-zone-1{
    margin-bottom: 30px;
  }
  .about-zone-2{
    font-size: 14px;
    margin: 0 20px;
  }
  .links-tab{
    font-size: 16px;
    margin-right: 20px;
  }
  .coltext-left,.coltext-right{
    flex-basis: 100%;
  }
  .copyright{
    margin: 0 30px;
  }
  .certificatelist{
    margin: 0 30px;
    margin-top: 20px;
  }
  .tab-content a i{
    font-size: 15px;
    margin-top: 15px;
  }
  #certificatezone #houseiconnic2{
    font-size: 15px;
    margin-top: 15px;
  }
  .containnerfor #houseiconnic3{
    font-size: 15px;
    margin-top: 10px;
  }

  .coltext-left #houseiconnic4{
    margin-top: 25px;
    font-size: 15px
  }
  .subtitlefor{
    font-size: 40px;
  }
  .subtitletree{
    font-size: 40px;
  }
  .subtitletwo{
    font-size: 40px;
  }